@font-face {
    font-family: 'Lato';
    src: url('fonts/LatoRegular/LatoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
html {
    width: 1020px;
    margin: 0 auto;
    height: 1195px;
}
.header { 
    background-image: url('assets/blackheader.png');
    width: 1020px;
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
h1 {
    color:white;
    font-weight: 900;
}

#star {
    color:red;
}
.nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    margin-right: 20px;
    margin-top: 7px;
}
.nav ul li {
    list-style-type: none; 
}
.nav ul li a {
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin-right: 15px;
    letter-spacing: 1px;;
    text-transform: uppercase;
   
}
.nav ul li a:hover {
    color: #f06c64;
}
.dot {
    height: 3px;
    width: 3px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
}
.empty {
    display: none;
}
.logo {
    margin-left: 40px;
    
}
.bottomheader {
    position: absolute;
}
.main {
    background-image: url('assets/Bg.png');
    width: 1020px;
    min-height: 600px;
    border-bottom: 6px solid #ea676b; 
}
.iphonehoriz {
        position: relative;
        left:180px;
        top:-65px;
}
.iphonevertical {
    position: relative;
    right:-110px;
    top:57px;
}
.left {
position: relative;
    right: 690px;
    top: -170px;
}
.left:hover {
    cursor: cell;
}
.right {
position: relative;
   top: -170px;
   left: 210px;
}
.right:hover {
    cursor: cell;
}
.bottomline {
    **// border: 5px solid black;
    position: relative;
   top: 110px;
  width: 1020px;
}
.services {
    position: relative;
    bottom: 10px;
    background-image: url('assets/Bgbottom.png');
    height: 300px;
    width: 1020px;
}

.footer {
    background-color:  #f2f2f2;
    
}
.wrapper {
padding: 0;
width: 1020px;
min-height: 496px;
background-color:  #f2f2f2;

padding-bottom: 68px
}

.footer_inner {
height: 100%;
display: flex;
flex-direction: column;
}

.footer_title {
margin: 0;
font-size: 32px;
letter-spacing: .3px;
font-weight: 900;
color: #666d89;
margin-top: 50px;
margin-bottom: 15px;
margin-left: -20px;
padding: 20px;

}

.footer-text {
color: #666d89;
font-size: 17px;
font-weight: 300;
line-height: 1.7;
text-align: justify;
}
.footer_grid {
margin-top: 22px;
margin-left: -5px;
height: 210px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
color: #666d89;
}
.footer_items {
flex-basis: 300px;
display: flex;
justify-content: space-between;
margin-bottom: 35px;
}

h2 {
padding: 0;
margin: 0;
line-height: 1;
font-size: 18px;
font-weight: 900;
margin-bottom: 10px;
}

.items_text {
width: 220px;
font-size: 12px;
font-weight: 300;
line-height: 1.797;
text-align: justify;
word-wrap: break-word;
word-spacing: .1px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.logoimg {
border: 1px soligray;
padding: 20px;
background: url(assets/border.png) no-repeat;
background-position: center;
margin: 0 auto;
}

.firstlogo {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
}
