body {
    margin: 0;
}
.wrapper {
    width: 1020px;
    margin: 0 auto;
    height: 1604px;   
    
}
.wrapper_portfolio {
    height: 864px;
    background-color: #2d303a;
}
h2 {
    margin-top: 0;
}
.porfolio_head {
    font-size: 30px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    padding: 70px 0 0 40px;
}
.porfolio_headtext {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    padding: 2px 0 0 40px;
}
.navigation_buttons {
    position: relative;
    top: -8px;
    margin-left: 40px;
    margin-bottom: px;
}

.navigation_buttons button {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 19px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    margin-left: 7px;
}
.colonnum { 
        margin: 10px 40px 0px 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
        align-content: space-between;
        height: 600px;
        overflow: hidden;
    }    
.colunnum > img {
        width: 220px;
        height: 187px;
        background-color: #464b5e;
        overflow: hidden;
    }
.bottomline {
    height: 6px;
    background-color: #323746;
}
.about-us-wrapper {
    height:740px;
    justify-content: center;
    padding-bottom: 63px;
    background-color: #f2f2f2;
}
.aboutUsLogo {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    padding: 70px 0 0 40px;
}   
.aboutUsText {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    padding: 25px 0 0 30px;
    letter-spacing: 0.008em;
    position: relative;
    top: -20px;
}
        .about-us-columns {
            overflow: hidden;
            margin: 48px 40px 0px 40px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-around;
            align-content: space-between;
            height: 510px;
            position: relative;
            top: -20px;
        }
        
        .about-us-columns > div {
            width: 303px;
            height: 510px;
        }
        
        .ico-facebook {
            background-image: url(./assets/facebook.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            border: 1px solid #666d89;
        }
        
        .ico-facebook:hover {
            background-color: #eb5055;
            transition: 0.3s;
            background-image: url(./assets/facebook-hover.svg);
            cursor: pointer;
        }
        
        .ico-google {
            background-image: url(./assets/google.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            border: 1px solid #666d89;
        }
        
        .ico-google:hover {
            background-color: #eb5055;
            transition: 1s;
            background-image: url(./assets/google-hover.svg);
            cursor: pointer;
        }
        
        .ico-twitter {
            background-image: url(./assets/twitter.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            border: 1px solid #666d89;
        }
        
        .ico-twitter:hover {
            background-color: #eb5055;
            transition: 0.5s;
            background-image: url(./assets/twitter-hover.svg);
            cursor: pointer;
        }
        
        .ico-linkedin {
            background-image: url(./assets/linkedin.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            border-radius: 16px;
            border: 1px solid #666d89;
        }
        
        .ico-linkedin:hover {
            background-color: #eb5055;
            transition: 1s;
            background-image: url(./assets/linkedin-hover.svg);
            cursor: pointer;
        }
        
        .about-us-name {
            font-size: 18px;
            line-height: 18px;
            color: #666d89;
            font-family: "Lato";
            font-weight: 900;
            text-align: left;
            padding-top: 16px;
            letter-spacing: -0.007em;
            position: relative;
            top: -20px;
        }
        
        .about-us-text {
            width: 300px;
            height: 175px;
            font-size: 12px;
            line-height: 22px;
            color: #767e9e;
            font-family: "Lato";
            font-weight: 400;
            text-align: justify;
            padding-top: 10px;
            letter-spacing: -0.006em;
            position: relative;
            top: -50px;
        }
        .person-1, .person-2, .person-3 {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            position: relative;
           
        }
        .icons {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 22px;
            position: relative;
            top: -60px;
        }
        
        .social-icons {
            margin-left: 6px;
        }
        
        .social-icons:first-child {
            margin-left: 0;
        }
        
        .person-3 img {
            padding-left: 2px;
        }   
        .about-us-line {
            border: 6px solid white;
            position: relative;
            bottom: 10px;
        }