body {
    margin: 0;
}
.wrapper {
    width: 1020px;
    margin: 0 auto;
    height: 1604px;   
    
}
.wrapper_portfolio {
    height: 864px;
    background-color: #2d303a;
}
h2 {
    margin-top: 0;
}
.porfolio_head {
    font-size: 30px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    padding: 70px 0 0 40px;
}
.porfolio_headtext {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    padding: 2px 0 0 40px;
}
.navigation_buttons {
    position: relative;
    top: -8px;
    margin-left: 40px;
    margin-bottom: px;
}

.navigation_buttons button {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 19px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    margin-left: 7px;
}
.colonnum { 
        margin: 10px 40px 0px 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
        align-content: space-between;
        height: 600px;
        overflow: hidden;
    }
.colunnum > img {
        width: 220px;
        height: 187px;
        background-color: #464b5e;
        overflow: hidden;
    }
.bottomline {
    height: 6px;
    background-color: #323746;
}
.aboutUsColonum
.personOne, .personTwo, .personThree {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
}